<%= @crate.name %><br />


 <h2>Books in here:</h2>
 <ul>
 <% @crate.books.each do |book| %>
   <li><a href="/books/<%=book.id%>"><%= book.name %></a></li>
 <% end%>
 </ul>
 <% if current_user.id == @crate.user_id %>
 <a href="/crates/<%=@crate.id%>/edit">Edit Crate</a>
 <% end %>
 <br />
 <br />
<a href="/books/new">Create a book</a>
