<% @books.each do |book| %>
  <a href="/books/<%=book.id%>"><%= book.name %></a><br />
  <%= book.author %> Author.<br />
  <% if current_user.id == book.crate.user_id %>
  <a href="/books/<%=book.id%>/edit">Edit</a>
  <% end %>
  <br />
  <br />
<% end %>
