<h2>Welcome to Book Case!</h2>
<p>What would you like to do?</p>

<nav>
  <% if logged_in? %>

    <%=current_user.username %>,
    <a href="/books/new">Create Book</a>
    <a href="/crates/new">New Crate</a>
    <a href="/logout">Log Out</a>


  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
